$body-color: #676767;
$font-family-base: "Poppins", sans-serif !default;
$font-weight-medium: 600;

$theme-colors: (
  "primary": #ff841b,
  "secondary": #001a53,
  "light": #fff,
  "gray-100": #fafafa,
  "gray-750": #676767,
) !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  10: $spacer * 10,
) !default;

$position-values: (
  0: 0,
  60: 60%,
  50: 50%,
  100: 100%,
) !default;

@import "~bootstrap/scss/bootstrap";

/**
 * #.# Mixins
 *
 */

@mixin box-shadow {
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

@mixin card {
  .card {
    span {
      color: #9b9b9b;
    }
  }
}

@mixin slick-dots {
  li {
    margin: 0 20px;
    button {
      width: 70px;
      height: 70px;
      &::before {
        font-size: 50px;
        width: 70px;
        height: 70px;
        content: "__";
      }
    }
    &.slick-active button::before {
      color: #ff841b;
    }
  }
}

/**
 * #.# Header Section
 *
 * Styles for Header Section.
 */

header {
  background-image: url("../img/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // Navigation
  nav {
    .navbar-toggler {
      &:focus {
        box-shadow: none;
      }
    }
    .navbar-nav {
      a {
        font-weight: $font-weight-medium;
      }
    }
  }
  // Hero
  #hero {
    span {
      letter-spacing: 4px;
    }
  }
}

/**
 * #.# Services Section
 *
 * Styles for Services Section.
 */

#services {
  background-image: url("../img/Services.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .card {
    @include box-shadow;
  }
}

/**
 * #.# Our Work Section
 *
 * Styles for Our Work Section.
 */

#our-work {
  .our-work__description {
    background-image: url("../img/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .vission-mission {
      .row {
        @include box-shadow;
        & > :first-child {
          background-image: url("../img/circle.png");
          background-color: #f5f5f5;
          background-position: 30rem -27px;
          background-size: 80%;
          background-repeat: no-repeat;
        }
      }
    }
  }
  @include card;
  @include slick-dots;
}

/**
 * #.# Team Section
 *
 * Styles for Team Section.
 */

#our-team {
  .team-slider {
    .card {
      .social-links {
        background-color: rgb(0 26 83 / 70%);
        opacity: 0;
        -moz-transition: opacity 0.4s ease;
        -o-transition: opacity 0.4s ease;
        -webkit-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
      }
      .profile-picture {
        &:hover > .social-links {
          opacity: 1;
        }
      }
    }
  }
  @include card;
  @include slick-dots;
}

/**
 * #.# CTA Section
 *
 * Styles for CTA Section.
 */

#cta {
  background-image: url("../img/cta-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**
 * #.# Testimonial Section
 *
 * Styles for Testimonial Section.
 */

#testimonial {
  .testimonial-slider {
    @extend .slick-dots;
  }
}

/**
 * #.# Counter Section
 *
 * Styles for Counter Section.
 */

#counter {
  background-image: url("../img/counter-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1#satisfied-customers,
  h1#awwards-winning {
    &:after {
      content: "%";
    }
  }
}

/**
 * #.# Footer Section
 *
 * Styles for Footer Section.
 */

footer {
  background-image: url("../img/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/**
 * #.# Contact Us Section
 *
 * Styles for Contact Us Section.
 */

.contact-us {
  .form-control {
    &::-webkit-input-placeholder {
      opacity: 0.5;
    }
    &:-moz-placeholder {
      opacity: 0.5;
    }
    &::-moz-placeholder {
      opacity: 0.5;
    }
    &:-ms-input-placeholder {
      opacity: 0.5;
    }
    &::-ms-input-placeholder {
      opacity: 0.5;
    }
  }
  h5 {
    font-weight: $font-weight-medium;
  }
}

/**
 * #.# Media Queries
 *
 */

@include media-breakpoint-up(md) {
  #our-work {
    .vission-mission {
      position: absolute;
    }
  }
}
